.menu {
    background-color: #232323 !important;

    .header.item{
        text-align: left;
        
        &:hover {
            color: white !important;
        }
    }

    .item {
        vertical-align: middle;
        height: 100%;
        text-align: center;
    }

    .item:hover {
        color: limegreen !important;
    }
}