.ui.accordion {
    border: 1px solid #F0F0F0;

    .title {
        &:first-child {
            border-top: none;
        }
        
        &:last-child {
            border-bottom: none;
        }

        &.active {
            border-bottom: 1px solid #F0F0F0;
        }

        color: #F0F0F0 !important;

        padding: 0.5em 5px !important;
        border-top: 1px solid #F0F0F0;

        span {
            float: right;
        }
    }

    .content {
        padding: 0.5em 5px !important;
    }
}
