#menu {
    ul {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;

        @include breakpoint('m') {
            display: block;
        }

        li {
            padding-top: 5vh;
            padding: 2.5vh 0;

            a, a:visited {
                // color: $textColor;
                text-decoration: none;
                font-size: 1.5rem;
            }
        }
    }
}
