#offcanvas {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li > a {
            padding: 8px 8px 8px 0px;
            text-decoration: none;
            font-size: 25px;
            // color: #818181;
            display: block;
            transition: 0.3s;

            &:hover{
                // color: $textColor;
            }
        }
    }

    #close-button {
        position: absolute;
        top: 0;
        right: 4vw;
        font-size: 36px;
    }
}
